<% @notifies.each do |notify| %>
  <tr id="<%= notify.id %>">
    <td id="notify_id"><%=  notify.id %></td>
    <td id="notify_name"><%=  notify.name %></td>
    <td id="notify_email"><%=  notify.email %></td>
    <td id="notify_message"><%= truncate notify.message, :length => 100  %></td>
    <td id="<%= notify.id %>_notify_status" ><%=  notify.status %></td>
    <td >
      <div class="text-center">
        <%= link_to "edit", "#form_modal ", class: "btn btn-small btn-info notify_edit", :"data-toggle" => "modal"  %>
        <%#= link_to "danger", notify_path(notify.id), class: "btn btn-small btn-danger" ,method: :delete, confirm: "Are you sure?"  %>
        <%= link_to notify_notifies_path(notify.id), data: { disable_with: "loading.." }, class: "btn btn-small btn-warning notify", remote: true, method: :post do %>
          notify
        <% end  %>
      </div>
    </td>
  </tr>
<%  end %>
