
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>MESSAGE</th>
      <th>
        <div class="text-center">
          OPTION
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @notifies.each do |notify| %>
      <tr>
        <td><%=  notify.id %></td>
        <td><%=  notify.name %></td>
        <td><%=  notify.email %></td>
        <td><%=  notify.message %></td>
        <td >
          <div class="text-center">
            <%= link_to "#", class: "btn btn-small btn-info"  do %>
              edit
            <% end  %>

            <%= link_to "#", class: "btn btn-small btn-success"  do %>
              show
            <% end  %>

            <%= link_to "#", class: "btn btn-small btn-danger"  do %>
              delete
            <% end  %>

          </div>
        </td>
      </tr>
    <%  end %>
  </tbody>
</table>
